@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    width: 100%;
    min-height: 100%;
    /* max-width: 1440px; */
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 1440px;
    height: 122px;
    left: calc(50% - 1440px/2);
    top: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    width: 1099.36px;
    height: 52px;
    left: 170.64px;
    top: 70px;
}

/* nav ul {
    list-style: none;
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
}  */

/* .circle-header {
    position: absolute;
    width: 60.53px;
    height: 18.46px;
    left: 170.64px;
    top: 86.91px;
} */

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    /* Neutral/Medium */
    color: #6B708D;    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 36px;
    gap: 10px;
    background: #072AC8;
    /* width: 84px;
    height: 22px; */
}


.contact-header a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}



#hero {
    position: absolute;
    width: 1440px;
    height: 650px;
    left: calc(50% - 1440px/2);
    top: 222px;
}

.content-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-hero div {
    width: 50%;
}

.content-hero h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #292E47;
    text-align: left;
    vertical-align: top;
}

.content-hero p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
    text-align: left;
    vertical-align: top;
}

.content-hero span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #6B708D;
    text-align: left;
    vertical-align: top;
}

.content-hero img {
    max-width: 570px;
    max-height: 650px;
    top:0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#clients {
    position: absolute;
    width: 1440px;
    height: 96px;
    left: calc(50% - 1440px/2);
    top: 1002px;
}

.flex-clients-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 96px;
}